# .env.example
MANIFOLD_API_KEY=
RIOT_API_KEY=
WS_PORT=8000
# Set to 'development' if debugging
ENVIRONMENT=development
# Retrieve your riot games info via the League of Legends client
# Hover over your icon in the top right corner above your chat pane
# Summoner name is the name on the very top
SUMMONER_NAME=Ov3rC0nf1dent
# Tagline is the text beside the # under your summoner name
TAGLINE=na1
# Use americas if your tagline is na1, br1, la1, la2
REGION=americas
# Your riot id is the combination of your summoner name + # + tagline in uppercase
RIOT_ID=Ov3rC0nf1dent#NA1